*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
body{
    background:#030130;
    color: aliceblue;

}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/me.png);
    background-size: cover;
    background-position:center ;
    background-attachment: fixed;
    padding-top: 20px;
}
.container{
    padding: 5px 5%;
    font-size: 12px;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 120px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 10px;

}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;

}
nav ul li a::after{
    content: '';
    width:0;
    height: 3px;
    background: #06b7a3;
    position: absolute;
    left:0;
    bottom: -6px;
    transition: 0.5s;

}
nav ul li a:hover::after{
        width:100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;

}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #06b7a3;
}
/* -----------about---------------- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width:100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;

}
.sub-title{
    font: size 60px; 
    font-weight: 600;
    color: #45d0ef;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right:50px ;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #05da8c;
}
.tab-links::after{
    content: '';
    position: absolute;
    width: 0;
    left: 0;
    background:oklab(69.93599999999999% -0.12508 -0.00291);
    bottom: -8px;
    transition: 0.5s;
    height: 3px;
}
.tab-links.active-link::after{
    width:50%;

}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: aqua;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/*------------services----------*/
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 40px;
    margin-top: 50px;

}
.services-list div{
    background:#0d0985 ;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    color: #fff;
    transition: background 0.5s, transform 0.5s; ;
}
.services-list div i{
    font-size: 60px;
    margin-bottom: 30px;
}
.services-list div a{
    text-decoration: none;
    color: #e2890b;
    font-size:13px ;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background-color: #05da8c;
}
/*-----------------portfolio------------------------*/
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width:400px;
    border-radius:10px;
    display:block;
}
.layer{
    width: 100%;
    height: 100%;
}